:root {
  --color-background_primary: #E0CBA8;
  --color-text_primary: #00272b;
  --color-background_secondary: #e0ebf6;
  --color-green: #04a777;
  --color-red: #B90C09;

}

@font-face {
  font-family: 'Eagle Lake';
  src: url("EagleLake-Regular.ttf");
}

body {
  background-color: var(--color-background_secondary);
  color: var(--color-text_primary);
  font-family: "Eagle Lake", serif;
  margin: 0;
  padding: 50px;
}

/* CHARACTER SHEET EVERYTHING */

.character-sheet {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  width: 100%;
  max-width: 800px;
  margin: auto;
}

h1,
h2 {
  text-align: center;
}

.sheet {
  background-color: var(--color-background_primary);
  max-width: 800px;
  margin: 0 auto;
  border: 2px solid #444;
  padding: 20px;
  border-radius: 10px;
}

.grid {
  display: flex;
  margin: 20px;
}

.section {
  background-color: whitesmoke;
  border: 1px solid #999;
  padding: 10px;
  margin: 20px;
  border-radius: 8px;
}

.section h3 {
  margin-top: 0;
}

.ability-scores {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
}

.stat {
  text-align: center;
  margin: 10px;
  padding: 10px;
  border: 1px solid #999;
  border-radius: 8px;
}

.stat h4 {
  margin: 5px 0;
}

.box {
  border: 1px solid #ccc;
  padding: 6px;
  margin-top: 5px;

  text-align: center;
}